__pycache__/cropper.cpython-310.pyc
__pycache__/filepaths.cpython-310.pyc
__pycache__/getcolor.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/openfile.cpython-310.pyc
__pycache__/selectfile.cpython-310.pyc
__pycache__/selectpixel.cpython-310.pyc
